# Dependencies
node_modules
.pnp
.pnp.js

# Production Build Output
dist
dist-ssr
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing & Coverage
coverage
.nyc_output

# Next.js
.next/
out/
tsconfig.tsbuildinfo

# Environment files
.env
.env*.local
.env.production
.env.development

# External reference repos
/docx
/lib0
/react
/supabase-js
/supabase-ssr
/tailwindcss
/tiptap
/y-protocols
/yjs

